*{margin: 0px ; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif; color: white;}

                    /*The Header تصميم وتنسيق */
           .clear{clear: both;}
           .clearright{clear: right;}      
body
{
    background:linear-gradient(#3a54ff,#0D47A1);
}
#main-head
{
 height:50px;
 background-color:  #000060;
}
#logo-header
{
  margin-right: 40px;
    float: right;
}
#logo-header h3
{
    margin: 10px 0px;
    color: white;
}
#logo-header h3 a
{
     text-decoration: none;
}
#navbar ul
{
    list-style-type: none;
    float: right;
    height: 40px;
    margin-bottom: 0px;
    margin-top: 10px;
}
 #navbar ul li
{ 
    display: inline;
    padding-left: 30px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#navbar ul #home
{
    color: lightblue;
    border-bottom:2px solid lightblue ;
}
#navbar ul #home:hover
{
    color: darkblue;
    border-bottom:3px solid lightblue ;
}
.nav-link
{
    text-decoration: none;
     color: white;
     padding: 10px;
}
.nav-link:hover
{
    background-color:white;
    color: #000060;
    border-radius:5px;
}
#logo_img
{
   width: 130px;
   height:45px ;
    position: absolute;
    left: 30px;
    top: 3px;
}


                    /*The Main تصميم وتنسيق */


#web-main
{
    color: white;
    padding:200px;
    box-sizing:border-box ;
    text-align: center ;
    background:url(../Image/Main-Mian-Photo.jpg) no-repeat center center;
    background-size:cover;
    width:100%;
    height:800px;
}
#web-main p 
{
    padding:18px 0px;
}
#web-main h1 
{
   font-size: 40px;
}
#main-content h1,p,a
{
    color: white;
}
#main-content a
{
    text-decoration: none;
    border: white solid;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}
#main-content a:hover
{
    background-color:white;
    color: #000060;
}


                /*The Cards تصميم وتنسيق */


#Cards
{
    margin:0px 30px;
    height: 600px;
}
.all-article
{
    width: 30%;
    height: 45%;
    float: left;
    text-align: center;
    margin-left: 30px;
    margin-top: 15px;
    box-shadow: 0px 0px 5px 5px lightskyblue;
}
.all-article:hover
{
    background-color: #3a54ff;
    border-radius: 15px;
    transition: 0.7s;
}
.all-article img
{
    width:20%;
}
.design1
{
    background-color:darkblue;
}
.design1 h1
{
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}
.design2
{
background-color: black ;
}
.design2 h1
{
    color:white;
    margin-top: 30px;
    margin-bottom: 30px;
}


                /*The Video Section تصميم وتنسيق */



#video-section
{
    text-align: center;
    margin: 10px 0px ;
}
#video-section h1
{
    margin : 20px 0px;
}
#video-section video
{
    width:70% ;
    box-shadow: 0px 0px 8px 8px #F4F6F8;
    margin-bottom: 20px;
}

#video-section p
{
    line-height:25px ;
    margin-bottom: 50px;
}
#video-section p:active
{
   color: yellow;
}
#video-section h3
{
    border: solid white;
    margin: 0px auto ;
    width: 70%;
    padding: 10px 0px;
}
#video-section  h3:hover
{
    background-color: #000060;
}


               /*portfolio تصميم وتنسيق */


#portfolio
{
    width: 100%;
}
#portfolio-img
{
    overflow: hidden;
       width: 90%;
       margin: 0px auto;
}
#portfolio h1,#portfolio p
{
    text-align: center;
}

.images-portfolio
{
    width: 30%;
    float: left;
    margin:8px ;
    border-radius: 15px;
}

.images-portfolio:hover
{
    box-shadow: 0px 0px 10px 5px wheat;
    transform: scale(1.05);
    transition: 0.3s;
}

                /*تصميم نظام اضافة طلبات المساعدة*/

.container
{
    text-align:center;
    width:60%;
    margin: 50px auto;
}
.container h1
{
     border-bottom: white solid;
    padding-bottom: 15px;
}
#task
{
    height: 40px;
    width: 200px;
    color: black;
}
#add
{
    height: 45px; 
    width: 45px;
    color: black;
}

                /*The contact-form تصميم وتنسيق */


#contact-form 
{   
    display:none;
    text-align: center;
    padding-bottom:20px;
    width: 70%;
    margin: 30px auto;
}
#header-form
{
    border-bottom: white solid;
    padding-bottom: 15px;
}
#contact-form input,select,textarea,option
{
    color: black;
}
#contact-form legend
{
    font-size: 20px;
}
#contact-form div
{
    padding-bottom: 10px;
}
#contact-form #button
{
    margin-top: 10px;
    padding:8px 15px ;
    font-size: 16px;
}
#contact-form #button-submit
{
    margin-top: 10px;
    padding:4px 30px ;
    font-size: 16px;
    color: white;
    background:#000060;
    font-weight: 900;
}
#contact-form #button-reset
{
    margin-top: 10px;
    padding:4px 30px ;
    font-size: 16px;
    color:white ;
    background:#0D47A1;
    font-weight: 900;
}
#contact-form label
{
    padding-left: 30px;
}
#contact-form fieldset
{
      background:linear-gradient(#0D47A1,#000060) ; 
      box-shadow: 5px 5px 10px 2px #3a54ff;
}
#save_your_request_button
{
    color: white;
    background:#0D47A1;
    font-weight: 900;
     font-size: 16px;
     padding:4px 30px ;
     margin-left: 60px;
}

                    /* Tables كتابة أكواد الجداول */


#table-section
{
    text-align: center;
    width: 70%;
    margin: 30px auto;
}
#table-header-h1
{
    border-bottom: white solid;
    width: 70%;
    padding-bottom: 10px;
    margin-bottom: 50px;
    margin: 30px auto;
}
#aid-table
{
     border: 0.5px solid;
     width: 100%;
     background-color: #000060;
}
#aid-table caption
{
    color: yellow;
    margin-bottom: 10px;
}
#aid-table th 
{
  background-color: #224dff;
  color: white;
  border: solid 0.5px white;
  padding: 20px;
}
#aid-table td
{
  padding: 20px;
  border: 0.5px solid white;
}
.done 
{
  background-color: green;
  font-weight: bold;
}

.pending 
{
  background-color: orange;
  font-weight: bold;
}
#aid-table tr:hover
{
    background-color: #3a54ff;
}


                   /*The Footer تصميم وتنسيق */

                  
#main-foot
{
    background:linear-gradient(#000060,#0D47A1) ;
    height: 400px;
    position: relative;
}
#main-foot h1
{
    color: white;
    position:absolute;
    bottom:15px;
    right: 35%;
    left: 35%;
    font-size: 18px;
    width: 30%;
}
#main-foot #logo
{
    position:absolute;
    right: 37%;
    bottom: 30%;
   width: 25%;
  
}
#main-foot #logo:hover
{
   box-shadow: 0px 0px 5px 5px #000060;
}


/*Social Media Icon Deign in Footer*/


#social-icon
{
    position: absolute;
    width: 15%;
    height: 15%;
     top: 50px;
    left: 120px;
    text-align: center;
}
#social-icon img
{
    padding-top: 5px;
    width: 35px;
    height: 35px;
}
#social-icon ul
{
    margin-top: 15px;
   list-style-type: none;
   padding-inline-start: 4px;
}
#social-icon ul li
{
 display: inline;
 padding-left: 10px;
}
#social-icon p
{
    color: #3aeeff;
}


/*Site Menu Deign in Footer*/


#site-menu 
{
    width: 170px;
    height: 200px;
    position: absolute;
    text-align: center;
     top: 50px;
    right: 120px;
}
#site-menu p
{
    color: #3aeeff;
}
#site-menu ul
{
 padding-inline-start: 4px;
}
#site-menu ul li
{
 list-style-type:none;
 padding-top: 15px;
}
#site-menu ul li a
{
 text-decoration: none;
}
#site-menu ul li a:hover
{
 text-decoration:underline #3aeeff;
}



 /*------------------------------CSS For Mobile--------------------------*/

 @media(max-width:480px)
 {
    /*Body And Header For Mobile*/

    body {width: 100%;}
    #main-head {height: 120px;}
    #main-head ul {padding: 0px;margin-top: 20px;margin-right: 15px;}
    #main-head ul li {margin:0px; padding: 1px;}
     #logo-header h3 {margin-top: 20px; } 
     #main-head img {margin-left: 25px;}

    /*Main For Mobile*/

    #web-main{width: 100%;background-size:cover;}
    #main-content {width: 100%;}
    #main-content h1 {font-size: 30px;width: 300px;position: relative;right: -100px;}
    #main-content p {font-size: 16px;position: relative;right: -100px;width: 300px;}
    #main-content p a {width:10px; padding: 8px;}
    #logo_center{width:300%;position: relative;right: -90px;top: 50px;}
    
    /*Cards For Mobile*/

    .all-article{width: 41%; height: 38%;}
    .design1 h1 {font-size: 20px;}
    .design1 p {font-size: 14px;}
    .design2 h1 {font-size: 20px;}
    .design2 p {font-size: 14px;}

    /*Video Section For Mobile*/

    #h1-video-section{margin-top: 80px;}
    #video-section p{font-size: 14px;margin:0px 20px;}

    /*Portfolio For Mobile*/

    #portfolio{width: 100%;}
    #portfolio-img{width: 100%;}
    .images-portfolio{width: 45%;}
    .img-portfolio5{clear: left;}

    /*Table For Mobile*/

    #table-section{padding: 0px; width: 100%;font-size: 12px; }
    #aid-table{width: 80%;margin: 0px auto;}
    #aid-table tr{padding: 0px;}
    #aid-table td{padding: 0px;}
    #aid-table th{padding: 0px;}
    
    /*Fotter For Mobile*/

    #main-foot h1{font-size: 14px;right: 15%;left: 30%;width: 80%;}
    #main-foot #logo{right: 30%; bottom: 15%; width: 40%;}
    #social-icon{ top: 50px; left: 50px;}
    #site-menu { top: 50px; right: 30px;}
 }

 /*------------------------------CSS For Ipad--------------------------*/

 @media(min-width:481px) and (max-width:680px){

        /*Body And Header For Ipad*/

    body {width: 100%;}
    #main-head {height:120px;}
    #main-head ul{margin-top:20px;}
    #main-head ul li {margin:px; padding: 20px;}
     #logo-header h3 {margin-top: 20px; } 
     #main-head img {height: 60px;}

       /*Main For Ipad*/

        #logo_center{width: 70%;margin-top: 30px;}

        

        /*Cards For Ipad*/

        .all-article{width: 40%; height: 40%;}
        .design1 h1{font-size:24px;}
        .design2 h1{font-size:24px;}  
        
        /*Video Section For Ipad*/
            
        
        #video-section p{font-size: 12px;margin:0px 25px; margin-bottom: 20px;}

       /*Table For Ipad*/

    #table-section{padding: 0px; width: 100%;font-size: 12px; }
    #aid-table{width: 90%;margin: 0px auto;}
    #aid-table tr{padding: 0px;}
    #aid-table td{padding: 10px;}
    #aid-table th{padding: 10px;}
    

     /*Fotter For Ipad*/

    #main-foot h1{font-size: 14px;right: 15%;left: 35%;width: 70%;text-align: center;}
    #main-foot #logo{right: 30%; bottom: 15%; width: 40%;}
    #social-icon{ top: 50px; left: 50px;}
    #site-menu { top: 50px; right: 30px;}
 }

 /*Responsive Another Screen*/

@media(min-width:681px) and (max-width:1100px){

      /*Body And Header Responsive Another Screen*/

    body {width: 100%;background-color: red;}
    #main-head {height:120px;}
    #main-head ul{margin-top:20px;}
    #main-head ul li {margin:0px; padding: 20px;}
     #logo-header h3 {margin-top: 20px; } 
     #main-head img {height: 60px;}


     /*Main Responsive Another Screen*/

     #logo_center{width: 70%;margin-top: 30px;}

     /*cards Responsive Another Screen*/

    .all-article{width: 40%; height: 45%;}
   
    /*Video Section For Ipad*/
                   
    #video-section p{font-size: 12px;margin:0px 25px; margin-bottom: 20px;}

    /*Table For Ipad*/

    #table-section{padding: 0px; width: 100%;font-size: 12px; }
    #aid-table{width: 90%;margin: 0px auto;}
    #aid-table tr{padding: 0px;}
    #aid-table td{padding: 10px;}
    #aid-table th{padding: 10px;}
    

     /*Fotter For Ipad*/

    #main-foot h1{font-size: 14px;right: 15%;left: 35%;width: 70%;text-align: center;}
    #main-foot #logo{right: 30%; bottom: 15%; width: 40%;}
    #social-icon{ top: 50px; left: 50px;}
    #site-menu { top: 50px; right: 30px;}

}



                         /*تم بحمد الله*/