*{margin: 0px ; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif; color: white;}

                    /*The Header تصميم وتنسيق */
                    
body
{
    background:linear-gradient(#3a54ff,#0D47A1);
}
#main-head
{
 height:50px;
 background-color:  #000060;
}
#logo-header
{
  margin-right: 40px;
    float: right;
}
#logo-header h3
{
    margin: 10px 0px;
    color: white;
}
#logo-header h3 a
{
     text-decoration: none;
}
#navbar
{
    height: 50px; 
}
#navbar ul
{
    list-style-type: none;
    float: right;
    height: 40px;
    margin-bottom: 0px;
    margin-top: 10px;
}
 #navbar ul li
{ 
    display: inline;
    padding-left: 30px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#navbar ul #home
{
    color: lightblue;
    border-bottom:2px solid lightblue ;
}
#navbar ul #home:hover
{
    color: darkblue;
    border-bottom:3px solid lightblue ;
}
.nav-link
{
    text-decoration: none;
     color: white;
     padding: 10px;
}
.nav-link:hover
{
    background-color:white;
    color: #000060;
    border-radius:5px;
}
#logo_img
{
   width: 130px;
   height:45px ;
    position: absolute;
    left: 30px;
    top: 3px;
}


                    /*The Main تصميم وتنسيق */


#web-main
{
    color: white;
    padding:200px;
    box-sizing:border-box ;
    text-align: center ;
    background:url(../Image/Main-Mian-Photo.jpg) no-repeat center center;
    background-size:cover;
    width:100%;
    height:800px;
}
#web-main p 
{
    padding:18px 0px;
}
#web-main h1 
{
   font-size: 40px;
}
#main-content h1,p,a
{
    color: white;
}
#main-content a
{
    text-decoration: none;
    border: white solid;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}
#main-content a:hover
{
    background-color:white;
    color: #000060;
}


                /*The Cards تصميم وتنسيق */


#sec1
{
    margin:0px 30px;
    height: 600px;
}
.all-article
{
    width: 30%;
    height: 45%;
    float: left;
    text-align: center;
    margin-left: 30px;
    margin-top: 15px;
    box-shadow: 0px 0px 5px 5px lightskyblue;
}
.all-article:hover
{
    background-color: #3a54ff;
    border-radius: 15px;
    transition: 0.7s;
}
.all-article img
{
    width:20%;
}
.design1
{
    background-color:darkblue;
}
.design1 h1
{
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}
.design2
{
background-color: black ;
}
.design2 h1
{
    color:white;
    margin-top: 30px;
    margin-bottom: 30px;
}


                /*The Video Section تصميم وتنسيق */


#sec2
{
    text-align: center;
    margin: 10px 0px ;
}
#sec2 h1
{
    margin : 20px 0px;
    clear: both;
}
#sec2 video
{
    width:70% ;
    box-shadow: 0px 0px 8px 8px #F4F6F8;
    margin-bottom: 20px;
}

#sec2 p
{
    line-height:25px ;
    margin-bottom: 50px;
}
#sec2 p:active
{
   color: yellow;
}
#sec2 h3
{
    border: solid white;
    margin: 0px auto ;
    width: 70%;
    padding: 10px 0px;
}
#sec2 h3:hover
{
    background-color: #000060;
}


               /*portfolio تصميم وتنسيق */


#portfolio
{
    width: 90%;
    margin:20px auto;
}
#portfolio h1,#portfolio p
{
    text-align: center;
}
.images-portfolio
{
    width: 32%;
    float: left;
    margin: 8px;
    border-radius: 15px;
}
#portfolio-img
{
    overflow: auto;
}
.images-portfolio:hover
{
    box-shadow: 0px 0px 10px 5px wheat;
    transform: scale(1.05);
    transition: 0.3s;
}

                /*تصميم نظام اضافة طلبات المساعدة*/

.container
{
    text-align:center;
    width:60%;
    margin: 50px auto;
}
.container h1
{
     border-bottom: white solid;
    padding-bottom: 15px;
}
#task
{
    height: 40px;
    width: 200px;
    color: black;
}
#add
{
    height: 45px; 
    width: 45px;
    color: black;
}

                /*The contact-form تصميم وتنسيق */


#contact-form 
{   
    display:none;
    text-align: center;
    padding-bottom:20px;
    width: 70%;
    margin: 30px auto;
}
#header-form
{
    border-bottom: white solid;
    padding-bottom: 15px;
}
#contact-form input,select,textarea,option
{
    color: black;
}
#contact-form legend
{
    font-size: 20px;
}
#contact-form div
{
    padding-bottom: 10px;
}
#contact-form #button
{
    margin-top: 10px;
    padding:8px 15px ;
    font-size: 16px;
}
#contact-form #button-submit
{
    margin-top: 10px;
    padding:4px 30px ;
    font-size: 16px;
    color: white;
    background:#000060;
    font-weight: 900;
}
#contact-form #button-reset
{
    margin-top: 10px;
    padding:4px 30px ;
    font-size: 16px;
    color:white ;
    background:#0D47A1;
    font-weight: 900;
}
#contact-form label
{
    padding-left: 30px;
}
#contact-form fieldset
{
      background:linear-gradient(#0D47A1,#000060) ; 
      box-shadow: 5px 5px 10px 2px #3a54ff;
}
#save_your_request_button
{
    color: white;
    background:#0D47A1;
    font-weight: 900;
     font-size: 16px;
     padding:4px 30px ;
     margin-left: 60px;
}

                    /* Tables كتابة أكواد الجداول */


#table-section
{
    text-align: center;
    width: 70%;
    margin: 30px auto;
}
#table-header-h1
{
    border-bottom: white solid;
    width: 70%;
    padding-bottom: 10px;
    margin-bottom: 50px;
    margin: 30px auto;
}
#aid-table
{
     border: 1px solid;
     width: 100%;
     background-color: #000060;
}
#aid-table caption
{
    color: yellow;
    margin-bottom: 10px;
}
#aid-table th 
{
  background-color: #224dff;
  color: white;
  border: solid 1px white;
}
#aid-table td
{
  padding: 20px;
  border: 1px solid white;
}
.done 
{
  background-color: green;
  font-weight: bold;
}

.pending 
{
  background-color: orange;
  font-weight: bold;
}
#aid-table tr:hover
{
    background-color: #3a54ff;
}


                   /*The Footer تصميم وتنسيق */

                  
#main-foot
{
    background:linear-gradient(#000060,#0D47A1) ;
    height: 400px;
    position: relative;
}
#main-foot h1
{
    color: white;
    position:absolute;
    bottom:15px;
    right: 35%;
    left: 35%;
    font-size: 18px;
    width: 30%;
}
#main-foot #logo
{
    position:absolute;
    right: 37%;
    bottom: 30%;
   width: 25%;
  
}
#main-foot #logo:hover
{
   box-shadow: 0px 0px 5px 5px #000060;
}


/*Social Media Icon Deign in Footer*/


#social-icon
{
    position: absolute;
    width: 15%;
    height: 15%;
     top: 50px;
    left: 120px;
    text-align: center;
}
#social-icon img
{
    padding-top: 5px;
    width: 35px;
    height: 35px;
}
#social-icon ul
{
    margin-top: 15px;
   list-style-type: none;
   padding-inline-start: 4px;
}
#social-icon ul li
{
 display: inline;
 padding-left: 10px;
}
#social-icon p
{
    color: #3aeeff;
}


/*Site Menu Deign in Footer*/


#site-menu 
{
    width: 170px;
    height: 200px;
    position: absolute;
    text-align: center;
     top: 50px;
    right: 120px;
}
#site-menu p
{
    color: #3aeeff;
}
#site-menu ul
{
 padding-inline-start: 4px;
}
#site-menu ul li
{
 list-style-type:none;
 padding-top: 15px;
}
#site-menu ul li a
{
 text-decoration: none;
}
#site-menu ul li a:hover
{
 text-decoration:underline #3aeeff;
}



 /*------------------------------CSS For Mobile--------------------------*/\

@media screen and (max-width:880px){
    #main-head{height: 80px;}
    #navbar ul li {padding: 0;}
    #navbar ul{ padding: 0;}
    .all-article{width:90%;height: 80%;}
    #web-main{width:100%;}
} 

